<details class="mobile-toggle-wrapper">
	<summary class="mobile-toggle">
		<span></span>
		<span></span>
		<span></span>
	</summary>
	{%- render 'header-mobile-menu', header_settings: header_settings, blocks: blocks-%}
</details>
