


.not-found {
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0; }
  @media only screen and (min-width: 768px) {
    .not-found {
      padding: 70px 0; } }
  @media only screen and (min-width: 1068px) {
    .not-found {
      padding: 100px 0; } }
  .not-found .button {
    margin-top: 20px; }
