


.blog-header__tags a {
  display: inline-flex;
  white-space: nowrap;
  font-size: 0.6875rem;
  text-transform: uppercase;
  height: 31px;
  border-radius: 62px;
  padding: 0 14px;
  align-items: center;
  font-weight: 600;
  margin: 0 5px;
  border: 1px solid var(--color-border); }
  .blog-header__tags a:hover, .blog-header__tags a.active {
    color: #fff;
    background: var(--color-accent);
    border-color: var(--color-accent); }

.blog-header {
  text-align: center; }
  .blog-header__inner {
    padding: 30px 0; }
    @media only screen and (min-width: 768px) {
      .blog-header__inner {
        padding: 50px 0; } }
    .blog-header__inner h1 {
      margin-bottom: 0;
      line-height: 1; }
    .blog-header__inner .rte {
      max-width: 550px;
      margin: 10px auto 0; }
      .blog-header__inner .rte > *:last-child {
        margin-bottom: 0; }
      @media only screen and (min-width: 768px) {
        .blog-header__inner .rte {
          margin: 20px auto 0; } }
  .blog-header__date {
    display: block;
    margin: 10px 0 0 0;
    opacity: 0.6;
    font-weight: 400; }
  .blog-header__tags {
    font-size: 1.5rem;
    margin-bottom: 20px; }
    @media only screen and (min-width: 768px) {
      .blog-header__tags {
        margin-bottom: 40px; } }
    .blog-header__tags scroll-shadow {
      width: calc(100% + 30px);
      margin: 0 -15px; }
    .blog-header__tags--inner {
      display: block;
      text-align: center;
      padding: 0 15px;
      overflow-x: scroll;
      line-height: 1;
      width: 100%;
      white-space: nowrap;
      scrollbar-width: none; }
      .blog-header__tags--inner::-webkit-scrollbar {
        display: none; }
