


.collection-banner {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 270px; }
  .collection-banner .row {
    min-width: 100%; }
  .collection-banner--has-bg {
    color: #fff;
    min-height: 350px;
    margin-bottom: 30px; }
    .collection-banner--has-bg .breadcrumbs {
      color: inherit; }
      .collection-banner--has-bg .breadcrumbs a {
        color: inherit; }
    .collection-banner--has-bg .collection-banner--image:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(var(--overlay-color-rgb), var(--overlay-opacity)); }
  .collection-banner--breadcrumbs {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3; }
  .collection-banner--inner {
    display: flex;
    flex-direction: column;
    position: relative; }
  .collection-banner--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0; }
    .collection-banner--image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .collection-banner--heading-uppercase-true h1 {
    text-transform: uppercase; }
  .collection-banner--content {
    padding: 40px 0;
    position: relative;
    z-index: 5; }
    @media only screen and (min-width: 768px) {
      .collection-banner--content {
        max-width: 530px;
        margin: 0 auto;
        font-size: 1rem;
        padding: 80px 0; } }
    .collection-banner--content h1 {
      color: inherit;
      margin-bottom: 0;
      font-weight: 600; }
      @media only screen and (min-width: 768px) {
        .collection-banner--content h1 + .collection-banner--subcollections {
          margin-top: 20px; } }
    .collection-banner--content .searchform {
      margin-top: 20px; }
    .collection-banner--content p {
      font-size: inherit;
      color: inherit;
      margin-top: 15px;
      margin-bottom: 0; }
  .collection-banner--subcollections {
    margin-top: 20px; }
    @media only screen and (min-width: 768px) {
      .collection-banner--subcollections {
        margin-top: 35px; } }
    .collection-banner--subcollections .text-button {
      margin: 0 8px 10px; }
