


.blog-post-detail {
  max-width: 1060px;
  margin: 0 auto; }
  .blog-post-detail .post-title {
    max-width: 750px;
    margin: 0 auto 30px;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .blog-post-detail .post-title {
        margin-bottom: 55px; } }
  .blog-post-detail .thb-placeholder {
    background: rgba(var(--color-body-rgb), 0.03);
    width: 100%;
    height: 100%;
    max-width: 50%;
    margin: 0 auto; }
    .blog-post-detail .thb-placeholder svg {
      fill: var(--color-accent); }
