


.thb-predictive-search--popular div a {
  display: inline-flex;
  white-space: nowrap;
  font-size: 0.6875rem;
  text-transform: uppercase;
  height: 31px;
  border-radius: 62px;
  padding: 0 14px;
  align-items: center;
  font-weight: 600;
  margin: 0 5px;
  border: 1px solid var(--color-border); }
  .thb-predictive-search--popular div a:hover, .thb-predictive-search--popular div a.active {
    color: #fff;
    background: var(--color-accent);
    border-color: var(--color-accent); }

.thb-predictive-search--label {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px; }

.thb-predictive-search--popular {
  margin-bottom: 30px;
  line-height: 0; }
  .thb-predictive-search--popular scroll-shadow {
    margin-left: -30px;
    width: calc(100% + 60px); }
  .thb-predictive-search--popular mark {
    background: none;
    font-weight: 500;
    color: inherit; }
  .thb-predictive-search--popular div {
    display: block;
    overflow-x: scroll;
    padding: 0 30px;
    white-space: nowrap;
    scrollbar-width: none; }
    .thb-predictive-search--popular div::-webkit-scrollbar {
      display: none; }
    .thb-predictive-search--popular div a:first-child {
      margin-left: 0; }

.thb-predictive-search--promotion .products.row {
  padding: 0 30px;
  margin: 0 -0.25rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; }
  .thb-predictive-search--promotion .products.row::-webkit-scrollbar {
    display: none; }
  .thb-predictive-search--promotion .products.row .columns {
    scroll-snap-align: center;
    scroll-snap-stop: always; }
  @media only screen and (min-width: 768px) {
    .thb-predictive-search--promotion .products.row {
      margin: 0 -0.9375rem;
      flex-wrap: wrap;
      overflow: inherit; } }

.thb-predictive-search--promotion-products {
  margin-left: -30px;
  width: calc(100% + 60px); }
  @media only screen and (max-width: 767px) {
    .thb-predictive-search--promotion-products .column {
      flex: 0 0 90%;
      max-width: 90%; } }
