

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster {
  transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1); }


.shopify-model-viewer-ui .shopify-model-viewer-ui__controls-area {
  background: #fff;
  border-color: var(--color-border); }

.shopify-model-viewer-ui .shopify-model-viewer-ui__button {
  color: rgba(var(--color-accent), 0.75); }

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:hover {
  color: rgba(var(--color-accent), 0.55); }

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:active,
.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control.focus-visible:focus {
  color: rgba(var(--color-accent), 0.55);
  background: rgba(var(--color-accent), 0.04); }

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:not(:last-child):after {
  border-color: var(--color-border); }

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster {
  border-radius: 50%;
  color: var(--color-accent);
  background: #fff;
  border-color: rgba(var(--color-accent), 0.1);
  transform: translate(-50%, -50%) scale(1); }

.shopify-model-viewer-ui .shopify-model-viewer-ui__poster-control-icon {
  width: 4.8rem;
  height: 4.8rem;
  margin-top: 0.3rem; }

.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster:hover,
.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster:focus {
  transform: translate(-50%, -50%) scale(1.1); }
