{% layout none %}
{%- if search.performed -%}
  <ul class="products collection row small-up-1 medium-up-4 no-padding">
    {%- for item in search.results -%}
      {%- if item.object_type == 'product' -%}
			<li class="column">
        {% render 'product-card', product_card_product: item %}
			</li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
{%- endif -%}
